h1{
	font-size: 48px;
	color: green;
}
img{
	width: 350px;
	height: 75px;
	border: 4px dashed #515;
}
a{
	color: #371999;
}
a:hover{
	color: #374999;
}
.text{
	font-size: 20px;
	color: red
}
.text:last-child{
	font-size: 24px;
	color: #333;
}
